<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.romany">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".RomanyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".activities.PraiseProfieActivity"></activity>
        <activity
            android:name=".activities.DeveloperActivity"
            android:theme="@style/AddChoirTheme" />
        <activity
            android:name=".activities.ChildDBActivity"
            android:theme="@style/AddChoirTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            />
        <activity
            android:name=".activities.AllChoirs"
            android:theme="@style/AddChoirTheme" />
        <activity android:name=".activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ShowTarnema"
            android:theme="@style/TarnemaStyle" />
        <activity
            android:name=".activities.ShowTranemActivity"
            android:theme="@style/MarIvramTheme" />
        <activity android:name=".activities.HomeActivity" />
    </application>

</manifest>